<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:targetApi="31">
        <activity
            android:name=".report_viewer.ReportViewerActivity"
            android:exported="false" />
        <activity
            android:name=".add_new_address.AddNewAddressActivity"
            android:exported="false" />
        <activity
            android:name=".reschedule_inspection.RescheduleInspectionActivity"
            android:exported="false" />
        <activity
            android:name=".change_password.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".help.HelpActivity"
            android:exported="false" />
        <activity
            android:name=".request_home_access.RequestHomeAccessActivity"
            android:exported="false" />
        <activity
            android:name=".share_transfer_homes.ShareTransferHomesActivity"
            android:exported="false" />
        <activity
            android:name=".deactivate_homes.DeactivateHomesActivity"
            android:exported="false" />
        <activity
            android:name=".activate_homes.ActivateHomesActivity"
            android:exported="false" />
        <activity
            android:name=".location_defects.LocationDefectsActivity"
            android:exported="false" />
        <activity
            android:name=".schedule_inspection.ScheduleInspectionActivity"
            android:exported="false" />
        <activity
            android:name=".my_homes.MyHomesActivity"
            android:exported="false" />
        <activity
            android:name=".inspection_defects.InspectionDefectsActivity"
            android:exported="false" />
        <activity
            android:name=".schedule_reinspection.ScheduleReinspectionActivity"
            android:exported="false" />
        <activity
            android:name=".non_passed_inspection_details.NonPassedInspectionDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".non_passed_inspections.NonPassedInspectionsActivity"
            android:exported="false" />
        <activity
            android:name=".inspection_details.InspectionDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".upcoming_inspections.UpcomingInspectionsActivity"
            android:exported="false" />
        <activity
            android:name=".login.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.burgess.burgessgo"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>